---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Impressum | Mathias Dick" description="Impressum according to German legal requirements.">
	<main class="wrapper legal stack gap-8">
		<header class="stack gap-2">
			<h1>Impressum</h1>
			<p>Angaben gemäß § 5 DDG (Digitale-Dienste-Gesetz)</p>
		</header>

		<section class="stack gap-2">
			<h2>Verantwortlich für den Inhalt</h2>
			<p>
				Mathias Dick<br />
				Am Murgdamm 5<br />
				76479 Steinmauern, Deutschland
			</p>
		</section>

		<section class="stack gap-2">
			<h2>Kontakt</h2>
			<p>
				E-Mail: <a href="mailto:mathias.dick16@gmail.com">mathias.dick16@gmail.com</a><br />
			</p>
		</section>

		<section class="stack gap-2">
			<h2>EU-Streitschlichtung</h2>
			<p>
				Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit:
				<a href="https://ec.europa.eu/consumers/odr/" rel="noopener noreferrer" target="_blank">
					https://ec.europa.eu/consumers/odr/
				</a>.
			</p>
		</section>

		<section class="stack gap-2">
			<h2>Verbraucherstreitbeilegung / Universalschlichtungsstelle</h2>
			<p>
				Ich bin nicht verpflichtet und nicht bereit, an Streitbeilegungsverfahren vor einer
				Verbraucherschlichtungsstelle teilzunehmen.
			</p>
		</section>
	</main>
</BaseLayout>

<style>
	.legal {
		padding-bottom: 4rem;
		max-width: 75ch;
	}

	h1 {
		font-size: var(--text-4xl);
	}

	h2 {
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	p,
	a {
		color: var(--gray-200);
	}

	a {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	a:hover,
	a:focus {
		text-decoration-color: currentColor;
	}
</style>